/* 
------------------------------------------------------
              --- TABLE OF CONTENT ---
---------------------------------------------------------

  01.  Fonts
  02.  Global CSS  
  03.  Navigation
  04.  Index
  05.  About Us
  06.  Services
  07.  portfolio
  08.  contact us
  09.  career
  10.  Footer
   
--------------------------------------------------------
*/

/* 
============================================================= 
                      01 - Fonts
============================================================= 
*/
/* 
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v25-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/montserrat-v25-latin-regular.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/montserrat-v25-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/montserrat-v25-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v25-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/montserrat-v25-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/montserrat-v25-latin-500.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/montserrat-v25-latin-500.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/montserrat-v25-latin-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v25-latin-600.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/montserrat-v25-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/montserrat-v25-latin-600.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/montserrat-v25-latin-600.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/montserrat-v25-latin-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v25-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/montserrat-v25-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/montserrat-v25-latin-700.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/montserrat-v25-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/montserrat-v25-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/inter-v12-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/inter-v12-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/inter-v12-latin-regular.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/inter-v12-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/inter-v12-latin-regular.svg#Inter") format("svg");
  /* Legacy iOS */
}

/* inter-600 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v12-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/inter-v12-latin-600.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/inter-v12-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/inter-v12-latin-600.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/inter-v12-latin-600.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/inter-v12-latin-600.svg#Inter") format("svg");
  /* Legacy iOS */
}

/* inter-600 - latin */
@font-face {
  font-family: "Neon Zone";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    /* Modern Browsers */
    url("../fonts/Neon\ Zone.ttf") format("truetype");
}

/* 
============================================================= 
                      02 - Global CSS
=============================================================   
*/

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  /* background-image: url(../images/back-dots.png); */
  background-color: white;
  background-repeat: repeat;
  color: var(--color-subtext);
  overflow-x: hidden;
}

:root {
  --color-primary: #e2e5fc;
  --color-secondary: #a5a8ba;
  --color-black: #111216;
  --color-white: #FFFFFF;
  --color-text: #181818;
  --color-text-light: #F0F0F0B2;
  --color-subtext: #3E3B39;
  --color-box: #16C1F3;
  --black-boxshadow: 0px 0px 20px 0px #0000000D;
  ;
}

.containerX {
  margin: 0 10rem !important;
}

.row {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 3.6rem !important;
  line-height: 1.5em;
}

h3 {
  font-size: 3rem !important;
  line-height: 1.5em;
  font-weight: 600;
}

h4 {
  font-size: 2.4rem !important;
  line-height: 1.5em;
}

h5 {
  font-size: 2rem !important;
  line-height: 1.5em;
}

h6 {
  font-size: 1.8rem !important;
  line-height: 1.5em;
}

.sec-Top-margin {
  margin-top: 12rem;
}

.mb50 {
  margin-bottom: 50rem;
}

.sec-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #a5a8ba;
  padding-bottom: 3rem;
}

.sec-heading .heading-name {
  display: flex;
  align-items: center;
}

.sec-heading .heading-name .heading-image {
  height: 7rem;
  width: 7rem;
  margin-right: 2rem;
}

.sec-heading .heading-name .heading-text h1,
.sec-heading .heading-number h1 {
  font-size: 6rem;
  font-weight: 600;
  color: var(--color-text);
}

.sec-heading .heading-number h1 {
  font-family: "Inter", "Montserrat", sans-serif;
}

.mt-5rem {
  margin-top: 5rem;
}

/* =============================================================
                      03 - Navigation
-------------------------------------------------------------*/
.Top-Header {
  padding: 2rem;
  background-color: var(--color-text);
  position: sticky;
  top: 0;
  top: 10px;
  border-radius: 75px;
  box-shadow: 0px 0px 30px 0px #0000001A;
  z-index: 99;
  transition: all 0.3s linear;
}

.mian-logo {
  display: inline-block;
}

.nav-logo {
  height: 6rem;
}

.nav-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4rem;
}

.nav-item {
  text-align: center;
}

.nav-link {
  font-weight: 400;
  color: var(--color-text-light);
  position: relative;
  font-size: 1.8rem;
  font-weight: 500;
  transition: 0.3s;
}

.nav-menu li a::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 40%;
  left: 34%;
  bottom: 0;
  height: 2px;
  border-radius: 50px;
  opacity: 0;
  transform: scaleX(0);
  transition: 0.5s;
}

.nav-link:hover {
  color: var(--color-box);
}

.nav-menu li a:hover::after {
  background-color: var(--color-box);
  transform: scaleX(1) !important;
  opacity: 1;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-primary);
}

.nav-link.active {
  color: var(--color-box);
}

.nav-link.active:after {
  background-color: var(--color-box);
  transform: scaleX(1) !important;
  opacity: 1;
}

.navbar-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s linear;

}

.button-thmes a {
  padding: 1.4rem 2.4rem;
  color: var(--color-white);
  border: 1px solid var(--color-box);
  border-radius: 4.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: var(--color-box);
  transition: 0.3s;
}

.button-thmes a:hover {
  background-color: var(--color-white);
  color: var(--color-box);
}

/* =============================================================
                       04 - Index
=============================================================*/

.animatedLine {
  width: 20rem;
  height: 10px;
  background: #252528;
  box-shadow: inset 2px 2px 4px #1e1e21, inset -2px -2px 4px #353538;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  margin-bottom: 4rem;
}

.animatedLine::before {
  content: "";
  height: 80%;
  width: 20%;
  background-color: var(--color-box);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 30px;
  animation: 6s animatedLine infinite;
}

.Hero-section {
  margin-top: 10rem;
}

@keyframes animatedLine {
  0% {
    left: 0;
    width: 20%;
  }

  50% {
    left: calc(100% - 25%);
    width: 25%;
  }

  100% {
    left: 0%;
    width: 20%;
  }
}

.welcome-Text {
  font-size: 6rem !important;
  color: var(--color-text);
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.welcome-Text>span {
  font-family: "Neon Zone", sans-serif;
}

.hero-content {
  font-weight: 500;
  max-width: 65rem;
  color: var(--color-subtext);
}

.rudra-img {
  margin-top: 7rem;
}

/* ACHIEVEMENT */
.achievement-card {
  margin-top: 4rem;
}

.achievement-card .achievement-UL {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.achievement-card .achievement-UL .achievement-items {
  width: calc(25% - 6rem);
  background: var(--color-white);
  box-shadow: 8px 8px 20px 8px #0000001A;
  border-radius: 14px;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.achievement-card .achievement-UL .achievement-items:nth-child(1) {
  border-bottom: 5px solid #F8A1A1;
}

.achievement-card .achievement-UL .achievement-items:nth-child(2) {
  border-bottom: 5px solid #A8E6F8;
}

.achievement-card .achievement-UL .achievement-items:nth-child(3) {
  border-bottom: 5px solid #F2CAF8;
}

.achievement-card .achievement-UL .achievement-items:nth-child(4) {
  border-bottom: 5px solid #B7B2F6;
}

/* .achievement-card .achievement-items .items-icon {
  width: 9rem;
  height: 9rem;
  padding: 1rem;
  background: var(--color-white);
  box-shadow: var(--black-boxshadow);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
} */

.achievement-card .achievement-items .achievement-value {
  font-size: 5rem !important;
  font-weight: 600;
  color: var(--color-text);
  margin: 1rem 0;
}

.achievement-card .achievement-items .achievement-name {
  color: var(--color-subtext);
  font-weight: 500;
}

/* OUR EXPERTISE */
.expertise-isotop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.expertise-isotop .expertise-btn {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-white);
  border-radius: 10px;
  border: 1px solid var(--color-text);
  border-bottom: 5px solid;
  gap: 0.8rem;
  box-shadow: var(--black-boxshadow);
}

.expertise-isotop .expertise-btn .expertise-btn-items {
  padding: 1rem 3rem;
  text-transform: uppercase;
  color: var(--color-text);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.expertise-isotop .expertise-btn .expertise-btn-items.active-btn {
  background-color: var(--color-black);
  box-shadow: var(--black-boxshadow);
  color: var(--color-white);
}

.expertise-isotop .expertise-btn .expertise-btn-items:hover {
  background-color: var(--color-black);
  box-shadow: var(--black-boxshadow);
  color: var(--color-white);
}

.expertise-isotop .expertise-carousel {
  display: flex;
  width: 100%;
  justify-content: center;
}

.expertise-isotop .expertise-carousel .expertise-owl-items {
  width: 20rem;
  margin-right: 10rem;
}

.expertise-isotop .expertise-carousel .expertise-owl-items:last-child {
  margin-right: 0rem;
}

.expertise-isotop .expertise-carousel .expertise-owl-items .expertise-images {
  padding: 0 3rem;
  height: 30rem;
  background-color: var(--color-white);
  box-shadow: 0px 0px 20px 0px #0000000D;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
  border: 1px solid #1818181A;
}

.expertise-isotop .expertise-owl-items .expertise-images img {
  max-height: 100px;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  transition: 1s;
}

.expertise-isotop .expertise-owl-items:hover .expertise-images {
  transform: rotateY(180deg);
}

.expertise-isotop .expertise-owl-items:hover .expertise-images img {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  transform: rotateY(180deg);
}

.expertise-isotop .expertise-carousel .expertise-owl-items p {
  margin-top: 3rem;
  color: var(--color-text);
}

.expertise-isotop .grid,
.expertise-isotop .expertise-btn {
  overflow-x: scroll;
}

.expertise-isotop .grid::-webkit-scrollbar,
.expertise-isotop .expertise-btn::-webkit-scrollbar {
  display: none;
}

.VMC-Ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.VMC-Ul .vmc-items {
  width: calc(33.33% - 6rem);
  padding: 4rem;
  box-shadow: 8px 8px 20px 8px #0000001A;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  background-color: var(--color-white);
}

/* .VMC-Ul .vmc-items:nth-child(1) {
  background-color: #F8DBA1;
}

.VMC-Ul .vmc-items:nth-child(2) {
  background-color: #F8A1A1;
}

.VMC-Ul .vmc-items:nth-child(3) {
  background-color: #B7B2F6;
} */

/* .VMC-Ul .vmc-items:hover::after,
.VMC-Ul .vmc-items:hover::before {
  opacity: 0;
} */

.VMC-Ul .vmc-items:nth-child(1)::after,
.VMC-Ul .vmc-items:nth-child(1)::before {
  background-color: #F8DBA1;
}

.VMC-Ul .vmc-items:nth-child(2)::after,
.VMC-Ul .vmc-items:nth-child(2)::before {
  background-color: #F8A1A1;
}

.VMC-Ul .vmc-items:nth-child(3)::after,
.VMC-Ul .vmc-items:nth-child(3)::before {
  background-color: #B7B2F6;
}

.VMC-Ul .vmc-items::after,
.VMC-Ul .vmc-items::before {
  content: " ";
  display: inline-block;
  clip-path: polygon(100% 0%,
      0% 0%,
      0% 100%,
      2% 99.84%,
      4% 99.38%,
      6% 98.64%,
      8% 97.68%,
      10% 96.55%,
      12% 95.31%,
      14% 94.06%,
      16% 92.87%,
      18% 91.81%,
      20% 90.95%,
      22% 90.35%,
      24% 90.04%,
      26% 90.04%,
      28% 90.35%,
      30% 90.95%,
      32% 91.81%,
      34% 92.87%,
      36% 94.06%,
      38% 95.31%,
      40% 96.55%,
      42% 97.68%,
      44% 98.64%,
      46% 99.38%,
      48% 99.84%,
      50% 100%,
      52% 99.84%,
      54% 99.38%,
      56% 98.64%,
      58% 97.68%,
      60% 96.55%,
      62% 95.31%,
      64% 94.06%,
      66% 92.87%,
      68% 91.81%,
      70% 90.95%,
      72% 90.35%,
      74% 90.04%,
      76% 90.04%,
      78% 90.35%,
      80% 90.95%,
      82% 91.81%,
      84% 92.87%,
      86% 94.06%,
      88% 95.31%,
      90% 96.55%,
      92% 97.68%,
      94% 98.64%,
      96% 99.38%,
      98% 99.84%,
      100% 100%);
  position: absolute;
  left: 0;
  height: 280px;

  animation: 4s infinite linear move-wave;
  transition: opacity 0.3s, top 0.4s cubic-bezier(0.85, 0.13, 0.23, 0.92);
  z-index: 0;
  transform: rotate(180deg);
  opacity: 1;
}

.VMC-Ul .vmc-items::after {
  bottom: -190px;
  width: 200%;
}

.VMC-Ul .vmc-items::before {
  bottom: -200px;
  width: 300%;
}

@keyframes move-wave {
  0% {
    transform: translateX(0) rotate(180deg);
  }

  100% {
    transform: translateX(-50%) rotate(180deg);
  }
}

.VMC-Ul .vmc-items h2,
.VMC-Ul .vmc-items p {
  position: relative;
  z-index: 5;
  color: var(--color-subtext);
}

.VMC-Ul .vmc-items h2 {
  color: var(--color-text);
  margin-bottom: 2rem;
}

.Clients-slider .owl-stage {
  padding: 9rem 0 4rem 0;
  display: flex;
}

.Clients-slider .owl-stage .owl-item {
  transform: scale(0.8);
  transition: 1s;
}

.Clients-slider .owl-stage .owl-item.center {
  transform: scale(1);
}

.Clients-slider .slider-item {
  padding: 2rem;
  border-radius: 16px;
  background-color: var(--color-white);
  box-shadow: 8px 8px 20px 8px #0000001A;
  text-align: center;
  position: relative;
  height: 100%;
}

.Clients-slider .Clients-images {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  padding: 6px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: -11rem;
}

.Clients-slider .slider-item:nth-child(1) .Clients-images {
  background-color: #A8E6F8;
}

.Clients-slider .slider-item h2 {
  margin: 2rem 0 1rem;
  color: var(--color-text);
  font-weight: 700;
}

.Clients-slider .slider-item .city {
  display: inline-block;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: var(--color-subtext);
}

.Clients-slider.owl-theme .owl-nav {
  text-align: end;
}

.Clients-slider.owl-theme .owl-nav button {
  width: 2rem;
  height: 5rem;
  margin: 0 2rem;
  border-radius: 4px;
  transition: 0.3s;
  box-shadow: inset 6px 6px 12px #08090c, inset -6px -6px 12px #1b1d22;
  background-color: var(--color-black) !important;
}

.Clients-slider.owl-theme .owl-nav button img {
  max-width: 5rem;
  margin-left: -2rem;
  transition: 0.3s;
}

.Clients-slider.owl-theme .owl-nav button:hover {
  box-shadow: var(--black-boxshadow);
  width: 5rem;
}

.Clients-slider.owl-theme .owl-nav .owl-prev img {
  transform: rotateY(180deg);
  margin-right: -4rem;
}

.Clients-slider.owl-theme .owl-nav button:hover img {
  margin: 0;
}

.got-project h2 {
  font-size: 6rem;
  color: var(--color-text);
  font-weight: 700;
  margin-bottom: 2rem;
}

.got-project .getTouch {
  display: inline-block;
  font-size: 3.6rem;
  color: var(--color-primary);
  padding: 1rem 5rem;
  font-weight: 700;
  background-color: var(--color-black);
  box-shadow: var(--black-boxshadow);
  border-radius: 4.5rem;
  margin-top: 6rem;
}

.got-project .GIT-SVG svg {
  height: 56rem;
}

.line3 {
  stroke-dasharray: 6;
  stroke-dashoffset: 60;

  animation: map 6s linear forwards infinite;
}

@keyframes map {
  to {
    stroke-dasharray: 10;
  }
}

.line1 {
  stroke-dasharray: 8;
  stroke-dashoffset: 20;
  animation: dash 6s linear forwards infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}

/* ................................................... */
/*                  05-About Us */
/* ................................................... */
.about-us .about-hero-section .hero-content-about {
  font-weight: 500;
  color: var(--color-subtext);
}

.about-us .Our-Approach-sec {
  position: relative;
}

.about-us .box-item {
  background: #111216;
  box-shadow: inset -4px -4px 8px #1a1b20, inset 4px 4px 8px #030405;
  border-radius: 16px;
  padding: 1rem;
  width: 40rem;
  position: absolute;
  top: 50%;
  left: 17rem;
  width: 40rem;
  height: 47rem;
}

.about-us .discover-img {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.Rudrains-Family-slider .item {
  width: 30rem;
  margin: 0 auto;
}

.Owner-img {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  background-color: var(--color-black);
  box-shadow: inset -4px -4px 8px #1a1b20, inset 4px 4px 8px #030405;
  padding: 15px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.Owner-img .img {
  height: 26rem;
  width: 26rem;
  border-radius: 50%;
  overflow: hidden;
}

.owner-conten h2 {
  margin: 2rem 0 1rem;
  color: var(--color-text);
  font-weight: 700;
}

.owner-conten span {
  display: inline-block;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--color-subtext);
}

.social-icon {
  width: 20px;
  height: 20px;
  display: grid;
  align-items: center;
}

.social-midia {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-midia li a{
  display: block;
  color: var(--color-box);
  transition: 0.3s;
}

.social-midia li a:hover{
  color: var(--color-text);
}

.social-midia li {
  margin: 0 1rem;
}

.Rudrains-Family-slider .owl-dots {
  display: none;
}

.Rudrains-Family-slider .owl-nav button {
  width: 2rem;
  height: 5rem;
  margin: 0 2rem !important;
  border-radius: 4px !important;
  transition: 0.3s;
  box-shadow: inset 6px 6px 12px #08090c, inset -6px -6px 12px #1b1d22;
  background-color: var(--color-black) !important;
}

.Rudrains-Family-slider.owl-theme .owl-nav {
  text-align: end;
}

.Rudrains-Family-slider.owl-theme .owl-nav button:hover {
  box-shadow: var(--black-boxshadow);
  width: 5rem;
}

.Rudrains-Family-slider.owl-theme .owl-nav .owl-prev img {
  transform: rotateY(180deg);
  margin-right: -4rem;
}

.Rudrains-Family-slider.owl-theme .owl-nav button:hover img {
  margin: 0;
}

.Rudrains-Family-slider.owl-theme .owl-nav button img {
  max-width: 5rem;
  margin-left: -2rem;
  transition: 0.3s;
}

.Rudrains-Family-slider .owl-stage {
  padding: 0 0 4rem 0;
  display: flex;
}

.approach-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.approach-item {
  display: flex;
}

.approach-item .box {
  width: calc(100% - 5rem);
  margin-left: -4rem;
}

.box .content {
  border-radius: 100px 0px;
  padding: 25px 25px 50px 25px;
  text-align: center;
  position: relative;
  z-index: 5;
  width: calc(100% - 20px);
  height: 100%;
}

.approach-item:nth-child(1) .content {
  background: #F8DBA1;
}

.approach-item:nth-child(2) .content {
  background: #F8A1A1;
}

.approach-item:nth-child(3) .content {
  background: #B7B2F6;
}


.animate8-new {
  animation: pulse6 1s infinite alternate;
}

@keyframes pulse6 {
  0% {
    transform: scale(100);
  }

  100% {
    transform: scale(100);
  }
}

.box h2,
.box p {
  z-index: 2;
}

.mt20 {
  margin-top: 2rem;
}

.box::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: calc(100% + 20px);
  width: 100%;
  background: var(--color-white);
  box-shadow: 8px 8px 20px 8px #0000001A;
  border-radius: 16px;
  border: 2px solid transparent;
  border-image-source: linear-gradient(44.24deg,
      var(--color-box) 0%,
      rgba(28, 87, 248, 0) 100%);
  border-image-slice: 1;

  animation: RotateBorder 5s linear infinite;
}

@keyframes RotateBorder {
  0% {
    border-image-source: linear-gradient(0deg,
        #1c57f8 0%,
        rgba(28, 87, 248, 0) 100%);
    border-image-slice: 1;
  }

  25% {
    border-image-source: linear-gradient(90deg,
        #1c57f8 0%,
        rgba(28, 87, 248, 0) 100%);
    border-image-slice: 1;
  }

  50% {
    border-image-source: linear-gradient(180deg,
        #1c57f8 0%,
        rgba(28, 87, 248, 0) 100%);
    border-image-slice: 1;
  }

  75% {
    border-image-source: linear-gradient(270deg,
        #1c57f8 0%,
        rgba(28, 87, 248, 0) 100%);
    border-image-slice: 1;
  }

  100% {
    border-image-source: linear-gradient(360deg,
        #1c57f8 0%,
        rgba(28, 87, 248, 0) 100%);
    border-image-slice: 1;
  }
}

.circle-item {
  width: 8rem;
  height: 8rem;
  background: var(--color-text);
  box-shadow: inset -4px -4px 8px #1a1b20, inset 4px 4px 8px #030405;
  border-radius: 50%;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-item img {
  max-width: 5rem;
  max-height: 5rem;
}

/* Our Workflow  */
.workflow-row {
  display: grid;
  grid-template-columns: auto 300px auto;
}

.workflow-item {
  display: grid;
  grid-template-rows: 33.33% 33.33% 33.33%;
}

.workflow-sec .workflow-item li {
  position: relative;
}

.workflow-sec .workflow-item.Right li {
  display: flex;
  align-items: flex-end;
}

.workflow-sec .workflow-item .item-box {
  display: flex;
  width: 95%;
  background: var(--color-white);
  box-shadow: 8px 8px 20px 8px #0000001A;
  padding: 2rem;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}

.workflow-sec .workflow-item.Left li:first-child .item-box {
  top: -8%;
}

.workflow-sec .workflow-item.Left li:nth-child(2) .item-box {
  top: -8%;
}

.workflow-sec .workflow-item.Left li:last-child .item-box {
  top: -8%;
}

.workflow-sec .workflow-item.Right li:first-child .item-box {
  bottom: -5%;
}

.workflow-sec .workflow-item.Right li:nth-child(2) .item-box {
  bottom: -5%;
}

.workflow-sec .workflow-item.Right li:last-child .item-box {
  bottom: -5%;
}


.item-box .count {
  color: var(--color-box);
  margin-right: 2rem;
}

#WorkflowSVG {
  max-height: 800px;
}

.workflowIconSvg {
  max-height: 800px;
}

.FillIcon1 {
  -webkit-animation: FillIcon1 20s infinite;
  animation: FillIcon1 20s infinite;
}

.paused {
  animation-play-state: paused !important;
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
}

@keyframes FillIcon1 {
  0.1% {
    fill: url(#paint0_linear_1024_415);
  }

  5% {
    fill: var(--color-box);
  }

  100% {
    fill: var(--color-box);
  }
}

.FillIcon2 {
  -webkit-animation: FillIcon2 20s infinite;
  animation: FillIcon2 20s infinite;
}

@keyframes FillIcon2 {
  0.2% {
    fill: url(#paint0_linear_1024_415);
  }

  12% {
    fill: url(#paint0_linear_1024_415);
  }

  15% {
    fill: var(--color-box);
  }

  100% {
    fill: var(--color-box);
  }
}

.FillIcon3 {
  -webkit-animation: FillIcon3 20s infinite;
  animation: FillIcon3 20s infinite;
}

@keyframes FillIcon3 {
  0.2% {
    fill: url(#paint0_linear_1024_415);
  }

  16.66% {
    fill: url(#paint0_linear_1024_415);
  }

  45% {
    fill: var(--color-box);
  }

  100% {
    fill: var(--color-box);
  }
}

.FillIcon4 {
  -webkit-animation: FillIcon4 20s infinite;
  animation: FillIcon4 20s infinite;
}

@keyframes FillIcon4 {
  0.2% {
    fill: url(#paint0_linear_1024_415);
  }

  16.66% {
    fill: url(#paint0_linear_1024_415);
  }

  30% {
    fill: url(#paint0_linear_1024_415);
  }

  65.32% {
    fill: white;
  }

  100% {
    fill: white;
  }
}

.FillIcon5 {
  -webkit-animation: FillIcon5 20s infinite;
  animation: FillIcon5 20s infinite;
}

@keyframes FillIcon5 {
  0.2% {
    fill: url(#paint0_linear_1024_415);
  }

  16.66% {
    fill: url(#paint0_linear_1024_415);
  }

  48.95% {
    fill: url(#paint0_linear_1024_415);
  }

  56% {
    fill: url(#paint0_linear_1024_415);
  }

  75% {
    fill: white;
  }

  97.97% {
    fill: white;
  }

  100% {
    fill: white;
  }
}

.FillIcon6 {
  -webkit-animation: FillIcon6 20s infinite;
  animation: FillIcon6 20s infinite;
}

@keyframes FillIcon6 {
  0.2% {
    fill: url(#paint0_linear_1024_415);
  }

  16.66% {
    fill: url(#paint0_linear_1024_415);
  }

  30% {
    fill: url(#paint0_linear_1024_415);
  }

  65.32% {
    fill: url(#paint0_linear_1024_415);
  }

  81.64% {
    fill: url(#paint0_linear_1024_415);
  }

  90% {
    fill: white;
  }

  100% {
    fill: white;
  }
}

/* new workflow */
.workflow-row-two .workflow-item-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}

.workflow-row-two .workflow-item-two .item-box-two {
  background: #111216;
  box-shadow: inset -4px -4px 8px #1a1b20, inset 4px 4px 8px #030405;
  padding: 2rem;
  display: flex;

}

.count-two {
  color: var(--color-primary);
  margin-right: 2rem;
}


/* 
============================================================= 
                      06-Services
============================================================= 
*/

.Services-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.Services-row .Services-item {
  background: var(--color-white);
  box-shadow: 8px 8px 20px 8px #0000001A;
  padding: 28px;
  text-align: center;
  border-radius: 16px;
  border-bottom: 4px solid var(--color-black);
}

.Services-item p {
  color: var(--color-subtext);
}

.circle-item-Services {
  width: 10rem;
  height: 10rem;
  background: #111216;
  box-shadow: inset -4px -4px 8px #1a1b20, inset 4px 4px 8px #030405;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.circle-item-Services img {
  max-width: 7rem;
  max-height: 7rem;
}

.Services-heading {
  color: var(--color-text);
  margin: 1rem auto;
  width: 94%;
}

/* 
============================================================= 
                      07 - portfolio
============================================================= 
*/

.portfolio-text-sec h2 {
  font-size: 14rem !important;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  color: var(--color-primary);
  font-weight: 700;
}

.portfolio-sec-one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  grid-template-rows: 600px;
}

.portfolio-sec-one .portfolio-left-sec {
  overflow: hidden;
  border-radius: 14px;
  padding: 16px;
  background-color: var(--color-black);
  box-shadow: var(--black-boxshadow);
}

.portfolio-left-sec .inner-div {
  height: calc(100% - 86px);
  overflow: hidden;
  box-shadow: inset -4px -4px 8px #1a1b20, inset 4px 4px 8px #030405;
  padding: 10px;
  background-color: var(--color-black);

}

.portfolio-left-sec .inner-div .img-div {
  height: 100%;
  overflow: hidden;
}

.portfolio-left-sec .inner-div img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 100%;
  transition: 6s all ease;

}

.portfolio-left-sec .inner-div:hover img {
  transition: 8s all ease;
  object-position: bottom;
}

.work-desc-item {
  height: 70px;
  margin-top: 16px;
}

.work-desc-item h3 {
  color: var(--color-primary);
}

.work-desc-item p {
  font-size: 2rem;
}

.portfolio-sec-one .portfolio-right-sec {
  display: grid;
  align-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  overflow-y: scroll;
  padding-right: 10px;
}

.portfolio-sec-one .portfolio-right-sec::-webkit-scrollbar {
  width: 10px;
}

.portfolio-sec-one .portfolio-right-sec::-webkit-scrollbar-track {
  background: black;
  box-shadow: inset -4px -4px 8px #1a1b20, inset 4px 4px 8px #030405;
}

.portfolio-sec-one .portfolio-right-sec::-webkit-scrollbar-thumb {
  background: linear-gradient(89.79deg, #0A2CF3 3.84%, #2061F9 53.64%, #5BCEFF 99.82%);

}

.portfolio-sec-one .portfolio-right-sec .gallery-item {

  height: 280px;
}

.portfolio-sec-one .portfolio-right-sec img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  object-position: top;
  cursor: pointer;
}

.portfolio-sec-one .gallery-item {
  overflow: hidden;
  background-color: var(--color-black);
  padding: 15px;
  box-shadow: inset -4px -4px 8px #1a1b20, inset 4px 4px 8px #030405;
  border-radius: 16px;
}

.portfolio-sec-one .gallery-item .img-div {
  overflow: hidden;
  border-radius: 10px;
  height: 100%;
  box-shadow: var(--black-boxshadow);
  background-color: var(--color-black);
}

.portfolio-sec-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.hover-line {
  height: 200%;
  width: 30px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translateY(-50%) rotate(-45deg);
  transition: .3s;
  opacity: 0.2;
}

.portfolio-item:hover .hover-line {
  left: 100%;
}

.portfolio-item .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: inline-block;
  background-image: linear-gradient(to top, #141414, #0000);
}

/* 
============================================================= 
                      08 - contact us
============================================================= 
*/

.address-conten {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-around;


}

.address-box {
  background: var(--color-white);
  box-shadow: 8px 8px 20px 8px #0000001A;
  border-radius: 14px;
  padding: 4rem 2rem;
}

.address-box:nth-child(1) {
  border-bottom: 5px solid #F8A1A1;
}

.address-box:nth-child(2) {
  border-bottom: 5px solid #A8E6F8;
}

.address-box:nth-child(3) {
  border-bottom: 5px solid #F2CAF8;
}

.rudra-map .mapouter {
  padding: 5rem;
  background: var(--color-white);
  box-shadow: 8px 8px 20px 8px #0000001A;
  border-radius: 14px;
}

.rudra-map .gmap_canvas {
  padding: 1rem;
  background: #111216;
  box-shadow: inset -4px -4px 8px #1a1b20, inset 4px 4px 8px #030405;
  border-radius: 16px;
}

.address-sec .loction {
  width: 8rem;
  height: 8rem;
  background: #111216;
  box-shadow: inset -4px -4px 8px #1a1b20, inset 4px 4px 8px #030405;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.address-sec h2 {
  font-size: 28px !important;
}

.address-sec p {
  font-size: 18px;
}

.address-sec .loction img {
  max-width: 3.5rem;
  max-height: 3.5rem;
}

.address-sec h2 {
  color: var(--color-text);
  margin: 1rem 0;
}

.address-sec a {
  color: var(--color-subtext);
}

.name-fild {
  width: 100%;
  margin-top: 2rem;
}

.name-fild label {
  display: block;
  color: var(--color-primary);
}

.name-fild input {
  width: 100%;
  background: #111216;
  box-shadow: inset -4px -4px 8px #1a1b20, inset 4px 4px 8px #030405;
  border-radius: 16px;
  border: 0;
  padding: 1.5rem;
  outline: 0;
  color: var(--color-secondary);
  margin-top: 0.5rem;
}

.name-fild input::-webkit-outer-spin-button,
.name-fild input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.name-fild textarea {
  width: 100%;
  height: 16rem;
  background: #111216;
  box-shadow: inset -4px -4px 8px #1A1B20, inset 4px 4px 8px #030405;
  border-radius: 16px;
  border: 0;
  outline: 0;
  color: var(--color-secondary);
  padding: 1.5rem;
}

.Send-Message-btn {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.Send-Message-btn button {
  padding: 1.2rem 3rem;
  background: #111216;
  border-radius: 10px;
  border: 1px solid transparent;
  color: var(--color-secondary);
  box-shadow: var(--black-boxshadow);
}

.Send-Message-btn button:hover {
  background-color: var(--color-black);
  color: var(--color-primary);
  box-shadow: inset -4px -4px 8px #1a1b20, inset 4px 4px 8px #030405;
}

.gmap_canvas iframe {
  width: 100%;
  height: 510px;
}


.conntact-form .error {
  font-size: 14px;
  color: var(--color-primary);
  display: none;
  text-align: end;
  margin-top: 8px;
  -webkit-animation: error 1s infinite;
  animation: error 1s infinite;
}

.conntact-form .error.show {
  display: block;
}

@keyframes error {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.conntact-form .chacter_match {
  font-size: 14px;
  color: var(--color-primary);
  display: block;
  text-align: end;
  margin-top: 8px;

}

.conntact-form .chacter_match.animation {
  -webkit-animation: error 1s infinite;
  animation: error 1s infinite;

}

/* 
============================================================= 
                      09 - career
============================================================= 
*/
.contact-details h2 {
  color: var(--color-text);
}

.contact-details a {
  color: var(--color-subtext);
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  gap: 10px;
}

.contact-details a i{
  color: var(--color-box);
}

.contact-details img {
  margin-right: 15px;
  max-width: 30px;
}

/* 
============================================================= 
                      10 - Footer
============================================================= 
*/

footer {
  margin-top: 8rem !important;
  padding: 8rem 0;
  border-top: 1px solid #a5a8ba;
}

.footer-row {
  justify-content: space-between;
}

.footer-heading {
  margin-bottom: 5rem;
  height: 7rem;
}

.footer-heading img {
  height: 7rem;
}

.footer-heading h2 {
  font-size: 3.4rem;
  color: var(--color-text);
  font-weight: 500;
}

.footer-details .FD-items {
  display: flex;
  margin-bottom: 4rem;
}

.footer-details .FD-items:last-child {
  margin-bottom: 0;
}

.footer-details .FD-items .icon {
  width: 4.4rem;
  height: 4.4rem;
  margin-right: 2rem;
}

.footer-details .FD-items .details {
  width: calc(100% - 6.4rem);
}

.footer-details .FD-items .details a {
  color: var(--color-subtext);
  font-weight: 500;
}

.footer-details .FD-items .details a:hover {
  color: var(--color-box);
}

.explore-menu {
  display: flex;
  justify-content: space-between;
}

.explore-menu ul {
  width: 50%;
}

.explore-menu ul .explore-items {
  height: 4.4rem;
  margin-bottom: 4rem;
}

.explore-menu ul .explore-items:last-child {
  margin-bottom: 0;
}

.explore-menu ul .explore-items a {
  color: var(--color-subtext);
  font-weight: 500;
  transition: 0.3s;
}

.explore-menu ul .explore-items:hover a,
.explore-menu ul .explore-items.active a {
  color: var(--color-box);
}

.socialMedia .socialGroup {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.socialMedia .socialGroup:last-child {
  margin-bottom: 0;
}

.socialMedia .socialGroup .social-item {
  width: 7rem;
  height: 7rem;
  background-color: var(--color-white);
  box-shadow: 8px 8px 20px 8px #0000001A;
  border-radius: 50%;
  color: var(--color-text);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 4rem;
  transition: 0.3s;

}

.socialMedia .socialGroup .social-item:last-child {
  margin-right: 0;
}

.socialMedia .socialGroup .social-item:hover {
  color: var(--color-box);
}




.workflow-conten p {
  color: var(--color-subtext);
}



/* Contact Us */

.WhatWeDo_contant {
  margin-top: 10rem;
}

.WhatWeDo_contant h2 {
  color: var(--color-black);
}



.ContactUs_Form {
  margin-top: 6rem;
}

.Form_input input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #181818;
  padding: 1.2rem 2rem;
  color: #000000;
  outline: 0;
  margin-bottom: 6rem;
  background-color: transparent;
}

.Form_input input::placeholder {
  color: #3E3B3980;
}

.multiple_inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}

.form_img {
  position: relative;
  top: 6.5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.ContactUs_container {
  max-width: 60%;
  margin: 0 auto;
}



/* Our-Process section */

.OurProcess_contant {
  max-width: 55%;
  margin: 0 auto;
}

.OurProcess_cardssection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8rem;
  margin-top: 15rem;
  position: relative;
  z-index: 1;
  text-align: center;
}

.OurProcess_images {
  position: relative;
}

.count_txt {
  position: absolute;
  z-index: -1;
  top: -40px;
  right: 40px;
}

.OurProcess_icon {
  width: 14.5rem;
  height: 14.5rem;
  border-radius: 50%;
  padding: 1.7rem;
  background-color: var(--color-white);
  margin: 0 auto;
}

.OurProcess_icon .icon_box {
  box-shadow: 8px 8px 20px 8px #0000001A;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow_patten {
  position: absolute;
  top: -100px;
}

.OurProcess_hading {
  margin: 2rem 0;
  font-weight: 600;
  color: var(--color-text);
}

.blue_boders {
  border: #A8E6F8 5px solid;
}

.yellow_boders {
  border: #F8DBA1 5px solid;
}

.green_boders {
  border: #BBF5AB 5px solid;
}

.pink_boders {
  border: #F2CAF8 5px solid;
}

.OurProcess_text {
  font-size: 1.6rem;
  line-height: 3rem;
  color: var(--color-subtext);
  text-align: center;
}

.OurProcess_container{
  margin: 0 14rem;
}


/* Career */
.Career_section {
  padding: 0 10rem;
  margin-top: 5rem;
  justify-content: center;

}

.Career_items {
  margin: 0 10px;
  padding: 3rem 2rem;
  background-color: var(--color--bg-White);
  box-shadow: 0px 0px 30px 0px #0000001A;
  border-radius: 15px;
  margin-top: 3rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.Career_section .Career_items::after {
  transition: 0.5s;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
}

.Careerone:hover::after {
  background-color: #A8E6F8;
  width: 100%;
}

.Careertwo:hover::after {
  background-color: #F2CAF8;
  width: 100%;
}

.Careerthree:hover::after {
  background-color: #BBF5AB;
  width: 100%;
}

.Career_section .Career_items:hover .Career_icon {
  background-color: var(--color-white);
}

.Career_icon {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.Career_section .Careerone .Career_icon {
  background-color: #A8E6F8;
}

.Career_section .Careertwo .Career_icon {
  background-color: #F2CAF8;
}

.Career_section .Careerthree .Career_icon {
  background-color: #BBF5AB;
}

.Career_contant span {
  font-size: 1.4rem;
  padding: 0 1.2rem;
  border-radius: 50px;
  border: 1px solid #181818;
  font-weight: 500;
  margin-bottom: 1.6rem;
  display: inline-block;
  background-color: var(--color-White);
}

.Career_contant h4 {
  font-weight: 600;
}